<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The
  <app-random-word type="noun"></app-random-word> is your
  <app-random-word type="noun"></app-random-word>.
  <p>If you get
    <app-random-word type="adjective"></app-random-word>, the
    <a target="_blank" href="https://ionicframework.com/docs">docs</a> will
    <app-random-word type="verb"></app-random-word> your
    <app-random-word type="noun"></app-random-word>.</p>
</ion-content>